Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: update dependency testcontainers to ^8.6.0
  acceptance/extension-logging-fluentd/package-lock.json
  acceptance/extension-logging-fluentd/package.json
Due: none

chore: update dependency @graphql-tools/utils to ^8.6.5
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
Due: none

chore: update dependency json5 to ^2.2.1
  packages/build/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

docs: update security reporting
  README.md
  SECURITY.md
Due: node packages/build/bin/run-prettier --write

feat(cli): model generator can now pick properties from config file
  packages/cli/generators/model/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(cli): add integration test for model generator with config properties
  packages/cli/test/integration/generators/model.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): added missing checks for options provided in command or config
  packages/cli/generators/controller/index.js
  packages/cli/generators/datasource/index.js
  packages/cli/generators/discover/index.js
  packages/cli/generators/example/index.js
  packages/cli/generators/extension/index.js
  packages/cli/generators/openapi/index.js
  packages/cli/generators/repository/index.js
  packages/cli/lib/artifact-generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency testcontainers to ^8.6.1
  acceptance/extension-logging-fluentd/package-lock.json
  acceptance/extension-logging-fluentd/package.json
Due: none

chore: update dependency @types/passport-google-oauth2 to ^0.1.5
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
Due: none

feat(repository): support ReferencesMany relation
  packages/repository/src/__tests__/unit/decorator/model-and-relation.decorator.unit.ts
  packages/repository/src/model.ts
  packages/repository/src/relations/index.ts
  packages/repository/src/relations/references-many/index.ts
  packages/repository/src/relations/references-many/references-many.accessor.ts
  packages/repository/src/relations/references-many/references-many.decorator.ts
  packages/repository/src/relations/references-many/references-many.helpers.ts
  packages/repository/src/relations/references-many/references-many.inclusion-resolver.ts
  packages/repository/src/relations/references-many/references-many.repository.ts
  packages/repository/src/relations/relation.decorator.ts
  packages/repository/src/relations/relation.types.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency @types/lodash to ^4.14.181
  examples/access-control-migration/package-lock.json
  examples/access-control-migration/package.json
  examples/lb3-application/package-lock.json
  examples/lb3-application/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  examples/rest-crud/package-lock.json
  examples/rest-crud/package.json
  examples/todo-jwt/package-lock.json
  examples/todo-jwt/package.json
  examples/todo-list/package-lock.json
  examples/todo-list/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
  packages/authentication/package-lock.json
  packages/authentication/package.json
  packages/booter-lb3app/package-lock.json
  packages/booter-lb3app/package.json
  packages/metadata/package-lock.json
  packages/metadata/package.json
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/repository-tests/package-lock.json
  packages/repository-tests/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency ajv to ^8.11.0
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency minimatch to ^5.0.1
  acceptance/repository-mongodb/package-lock.json
  benchmark/package-lock.json
  examples/references-many/package-lock.json
  examples/webpack/package-lock.json
  extensions/socketio/package-lock.json
  package-lock.json
  packages/build/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/eslint-config/package-lock.json
  packages/monorepo/package-lock.json
  packages/rest/package-lock.json
  packages/tsdocs/package-lock.json
Due: none

chore: update dependency validate-npm-package-name to v4
  acceptance/repository-mongodb/package-lock.json
  examples/webpack/package-lock.json
  extensions/socketio/package-lock.json
  package-lock.json
  packages/build/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/eslint-config/package-lock.json
  packages/monorepo/package-lock.json
  packages/rest/package-lock.json
  packages/tsdocs/package-lock.json
Due: none

chore: update api-extractor packages
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency puppeteer to ^13.5.2
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

chore: update dependency validate-npm-package-name to v4
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update dependency loopback-connector-mongodb to ^6.2.0
  acceptance/repository-mongodb/package-lock.json
  acceptance/repository-mongodb/package.json
Due: none

docs: fix the wrong title and permalink of polymorphic relation documentation
  docs/site/Polymorphic-relations.md
Due: node packages/build/bin/run-prettier --write
