Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Typo: possessive instead of plural?
  docs/site/tutorials/todo/todo-tutorial-datasource.md
Due: node packages/build/bin/run-prettier --write

fix(cli): recognize registerInclusionResolver provided in -c or --config
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add missing keys from config passed to lb4 relation
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/generators/relation.has-many-through.integration.snapshots.js
  packages/cli/test/integration/generators/relation.has-many-through.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove repeated code from controller in case of same table hasManyThrough relation
  packages/cli/generators/relation/templates/controller-relation-template-has-many-through.ts.ejs
  packages/cli/snapshots/integration/generators/relation.has-many-through.integration.snapshots.js
  packages/cli/test/fixtures/relation/controllers/user-user.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/friend.model.ts
  packages/cli/test/fixtures/relation/models/user.model.ts
  packages/cli/test/fixtures/relation/repositories/friend.repository.ts
  packages/cli/test/fixtures/relation/repositories/user.repository.ts
  packages/cli/test/integration/generators/relation.has-many-through.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: increase timeout
  .github/workflows/continuous-integration.yml
Due: none

fix: remove PropertyType export
  extensions/typeorm/src/typeorm.utils.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update node docker tag to v18
  examples/access-control-migration/Dockerfile
  examples/multi-tenancy/Dockerfile
  examples/references-many/Dockerfile
  examples/rest-crud/Dockerfile
  examples/socketio/Dockerfile
  examples/todo-jwt/Dockerfile
  examples/todo-list/Dockerfile
  examples/todo/Dockerfile
  packages/cli/generators/app/templates/Dockerfile
Due: none

test: correct CLI snapshot
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency axios to v1.3.5
  benchmark/package-lock.json
  benchmark/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
Due: none

fix(cli): fix for lb4 repository generator to recognize repositoryBaseClass in --config
  packages/cli/.yo-rc.json
  packages/cli/generators/repository/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/generators/repository.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): added few missing packages to cli template dependencies
  packages/cli/package.json
Due: none

fix(cli): removing the non loopback packages from cli template dependencies
  packages/cli/package.json
Due: none

docs: adding post endpoint
  docs/site/Calling-rest-apis.md
Due: node packages/build/bin/run-prettier --write

chore: add @aaqilniz as maintainer
  README.md
Due: node packages/build/bin/run-prettier --write

fix(sequelize): statically use 5.1.4 version of sqlite3
  extensions/sequelize/package-lock.json
  extensions/sequelize/package.json
Due: none

fix(repository): restore async for entityToData method in legacy-juggler-bridge
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: import bootstrap from the lerna package
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/test/acceptance/app-run.acceptance.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
