Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

fix: add @lerna/project to docs module
  docs/package-lock.json
  docs/package.json
Due: none

docs: switch --outDir of application generator have to be --outdir
  docs/site/Application-generator.md
Due: node packages/build/bin/run-prettier --write

fix(cli): pass flags to mysql-connector while lb4 discover
  docs/site/Discovering-models.md
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/model.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: allow belongsTo relation with same table
  packages/cli/generators/relation/base-relation.generator.js
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/generators/relation/utils.generator.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/fixtures/relation/controllers/employee.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/employee.model.ts
  packages/cli/test/fixtures/relation/repositories/employee.repository.ts
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: make entityToData function async again
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): fix for lb4 repository generator to recognize repositoryBaseClass in --config
  packages/cli/.yo-rc.json
  packages/cli/generators/repository/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/generators/repository.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): extend from DefaultKeyValueRepository in case of kv datasource
  packages/cli/generators/repository/templates/src/repositories/repository-kv-template.ts.ejs
  packages/cli/test/integration/generators/repository.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(sequelize): add sql transactions support
  extensions/sequelize/README.md
  extensions/sequelize/src/__tests__/fixtures/controllers/index.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/product.controller.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/test.controller.base.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/transaction.controller.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/config.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/db.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/primary.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/secondary.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/models/index.ts
  extensions/sequelize/src/__tests__/fixtures/models/product.model.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/appointment.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/book.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/category.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/developer.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/doctor.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/index.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/patient.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/product.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/programming-language.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo-list.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/user.repository.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
  extensions/sequelize/src/types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(sequelize): add connection pooling support
  extensions/sequelize/README.md
  extensions/sequelize/src/__tests__/unit/sequelize.datasource.unit.ts
  extensions/sequelize/src/sequelize/connector-mapping.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: add Gemini Protocol server
  packages/gemini/LICENSE
  packages/gemini/README.md
  packages/gemini/package-lock.json
  packages/gemini/package.json
  packages/gemini/src/__test__/acceptance/gemini.server.acceptance.test.ts
  packages/gemini/src/__test__/utils.ts
  packages/gemini/src/gemini.server.ts
  packages/gemini/src/index.ts
  packages/gemini/src/response-builder.ts
  packages/gemini/src/types.ts
  packages/gemini/src/utils.ts
  packages/gemini/tsconfig.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: update Gemini code
  packages/gemini/README.md
  packages/gemini/src/gemini.server.ts
  packages/gemini/src/utils.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove capital D ObjectID import
  packages/repository/src/__tests__/unit/repositories/relations-helpers/mongo-related-helpers.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: use glob named import
  packages/boot/src/booters/booter-utils.ts
  packages/build/bin/compile-package.js
  packages/cli/generators/copyright/fs.js
  packages/cli/test/integration/generators/clone-example.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: use rimraf named import
  packages/build/bin/run-clean.js
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

perf(repository): handle cloneDeep of data
  packages/repository/src/relations/relation.helpers.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: in windows the path is escaped
  packages/cli/test/integration/generators/clone-example.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: add windows environment
  .github/workflows/continuous-integration.yml
Due: none

ci: increase timeout to 20 minutes
  .github/workflows/continuous-integration.yml
Due: none

ci: test commit
  .github/workflows/continuous-integration.yml
  README.md
Due: node packages/build/bin/run-prettier --write

fix: rimraf must be configured to accept patterns
  packages/build/bin/run-clean.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: replace backslash with forward slash
  packages/cli/generators/copyright/fs.js
  packages/cli/test/integration/generators/clone-example.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): openapi generator implementation for controllers
  docs/site/OpenAPI-generator.md
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-petstore.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto-with-anonymous.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/snapshots/integration/generators/swagger-petstore.integration.snapshots.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: disable test that generates the project in the user's folder
  packages/cli/test/integration/generators/app.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): update --help for relation
  packages/cli/.yo-rc.json
  packages/cli/generators/relation/index.js
  packages/cli/intl/en/messages.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache
