Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): add check on process.env.HOST
  packages/cli/generators/app/templates/src/index.ts.ejs
Due: none

docs: update migration overview page for LB3 ROL
  docs/site/migration/overview.md
Due: node packages/build/bin/run-prettier --write

fix: build method parameters while genreating services
  packages/cli/generators/openapi/spec-helper.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add condition to check type of property before parsing from json object
  packages/cli/generators/datasource/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: removal of malicious url in testing documentation
  docs/site/Defining-your-testing-strategy.md
Due: node packages/build/bin/run-prettier --write

fix: add enum values to MySQL object of property decorator
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs(docs): fix incorrect directory name for base repository classes
  docs/site/Repository-generator.md
Due: node packages/build/bin/run-prettier --write

fix(cli): add tests
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/lib/base-generator.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add docs file
  docs/site/Discovering-models.md
Due: node packages/build/bin/run-prettier --write

fix: update variable names to standard
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: iterate through content object properties
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/uspto.yaml
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): fix docs linting issue
  docs/site/Parsing-requests.md
  docs/site/decorators/Decorators_openapi.md
  docs/site/migration/auth/authentication.md
Due: node packages/build/bin/run-prettier --write

feat: add check on process.env.HOST if it's undefined or null the default value would be '127.0.0.1'
  .vscode/settings.json
  packages/cli/generators/app/templates/src/index.ts.ejs
Due: none

fix: fix CLI execution with explicit --controllerType=BASIC option
  packages/cli/generators/controller/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): clarify defaultFn
  docs/site/Model.md
Due: node packages/build/bin/run-prettier --write

feat: add relation type information in openapi specs
  packages/cli/generators/relation/templates/controller-relation-template-has-one.ts.ejs
Due: none

Update Order-filter.md
  docs/site/Order-filter.md
Due: node packages/build/bin/run-prettier --write

fix: fix
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add relation type & foreign key to relationships in openapi specs
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: return error response if invalid key passed in where clause
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/relations/relation.helpers.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix hasOne relation with the same table
  packages/cli/generators/relation/has-one-relation.generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove duplicate targetModelClassName import in has-one relation template
  packages/cli/generators/relation/templates/controller-relation-template-has-one.ts.ejs
Due: none

feat: support loging in with username
  extensions/authentication-jwt/package.json
  extensions/authentication-jwt/src/__tests__/acceptance/jwt.component.test.ts
  extensions/authentication-jwt/src/__tests__/fixtures/controllers/user.controller.ts
  extensions/authentication-jwt/src/services/user.service.ts
  packages/cli/test/fixtures/copyright/single-package/index.js
  packages/cli/test/fixtures/copyright/single-package/lib/no-header.js
  packages/cli/test/fixtures/copyright/single-package/src/application.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: build method parameters while genreating services
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add condition to check type of property before parsing from json object
  packages/cli/generators/datasource/index.js
  packages/cli/snapshots/integration/generators/datasource.integration.snapshots.js
  packages/cli/test/integration/generators/datasource.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): clarify defaultFn
  .vscode/settings.json
  docs/site/Model.md
  packages/cli/generators/app/templates/src/index.ts.ejs
Due: node packages/build/bin/run-prettier --write

fix: add enum values to MySQL object of property decorator
  packages/cli/generators/discover/index.js
  packages/cli/test/unit/discover/import-discovered-model.test.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: implement inlcude, exclude & readonly options for openapi-generator
  package-lock.json
  packages/cli/.yo-rc.json
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/spec-loader.js
  packages/cli/package.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/restcountries.yaml
  packages/cli/test/integration/generators/openapi-client.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
