Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: update dependency typeorm to ^0.2.45
  extensions/typeorm/package-lock.json
  extensions/typeorm/package.json
Due: none

chore: update dependency lint-staged to ^12.3.5
  package-lock.json
  package.json
Due: none

chore: update dependency puppeteer to ^13.5.1
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

docs: update email addresses for reporting
  README.md
  SECURITY.md
  docs/CODE_OF_CONDUCT.md
Due: node packages/build/bin/run-prettier --write

chore: update dependency axios to ^0.26.1
  benchmark/package-lock.json
  benchmark/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
  packages/cli/package-lock.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
Due: none

chore: update dependency swagger-ui-dist to v4.6.2
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
Due: none

chore: update dependency mocha to ^9.2.2
  benchmark/package-lock.json
  benchmark/package.json
  examples/soap-calculator/package-lock.json
  examples/soap-calculator/package.json
  packages/build/package-lock.json
  packages/build/package.json
Due: none

chore: update LB4 EOL to Node.js 16
  README.md
Due: node packages/build/bin/run-prettier --write

fix: ignore MIME type-like object members
  packages/eslint-config/eslintrc.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency @types/lodash to ^4.14.180
  examples/access-control-migration/package-lock.json
  examples/access-control-migration/package.json
  examples/lb3-application/package-lock.json
  examples/lb3-application/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  examples/rest-crud/package-lock.json
  examples/rest-crud/package.json
  examples/todo-jwt/package-lock.json
  examples/todo-jwt/package.json
  examples/todo-list/package-lock.json
  examples/todo-list/package.json
  examples/todo/package-lock.json
  examples/todo/package.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
  packages/authentication/package-lock.json
  packages/authentication/package.json
  packages/booter-lb3app/package-lock.json
  packages/booter-lb3app/package.json
  packages/metadata/package-lock.json
  packages/metadata/package.json
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/repository-tests/package-lock.json
  packages/repository-tests/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency pacote to ^13.0.4
  package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/monorepo/package-lock.json
Due: none

fix: ignore HTTP code-like object members
  packages/eslint-config/eslintrc.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: add alternate archs
  .travis.yml
Due: none

Update Deploying-with-pm2-and-nginx.md
  docs/site/deployment/Deploying-with-pm2-and-nginx.md
Due: node packages/build/bin/run-prettier --write

chore: update dependency lint-staged to ^12.3.7
  package-lock.json
  package.json
Due: none

chore: update api-extractor packages
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency autocannon to ^7.7.2
  benchmark/package-lock.json
  benchmark/package.json
Due: none

chore: update dependency @commitlint/cli to ^16.2.3
  package-lock.json
  package.json
Due: none

chore: update dependency @graphql-tools/utils to ^8.6.3
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
Due: none
