Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: replace old node version (v17) to current version (v19)
  .github/workflows/continuous-integration.yml
Due: none

chore: use NPM Workspaces
  .github/workflows/continuous-integration.yml
  docs/bin/copy-changelogs.js
  extensions/typeorm/src/__tests__/integration/booter.integration.ts
  lerna.json
  package-lock.json
  package.json
  packages/cli/test/acceptance/app-run.acceptance.jsjs
  packages/tsdocs/bin/document-apis.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: license year changes with the new year
  packages/cli/test/integration/generators/copyright.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: do not cache Eslint
  package.json
Due: none

fix: correct changes to openapi3-ts
  packages/openapi-v3/src/__tests__/unit/decorators/request-body/request-body.decorator.unit.ts
  packages/openapi-v3/src/__tests__/unit/decorators/response.decorator.unit.ts
  packages/openapi-v3/src/build-responses-from-metadata.ts
  packages/openapi-v3/src/filter-schema.ts
  packages/openapi-v3/src/generate-schema.ts
  packages/openapi-v3/src/json-to-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: npm v6 is no longer supported
  .github/workflows/continuous-integration.yml
Due: none

fix: disable strictNullChecks check for prefer-nullish-coalescing rule
  packages/eslint-config/eslintrc.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency axios to v1
  benchmark/package-lock.json
  benchmark/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: update standard for foreign key name in belongs to relation
  docs/site/BelongsTo-relation.md
Due: node packages/build/bin/run-prettier --write

ci: add windows to the test matrix
  .github/workflows/continuous-integration.yml
Due: none

ci: increase timeout to 20 minutes
  .github/workflows/continuous-integration.yml
Due: none

fix: error with rimraf upgrade
  packages/build/bin/run-clean.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): fixed cli not detecting custom base repositories
  packages/cli/generators/repository/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

revert: "chore: update dependency rimraf to v4"
  bodyparsers/rest-msgpack/package-lock.json
  examples/graphql/package-lock.json
  examples/graphql/package.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/cron/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/pooling/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/authorization/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/express/package-lock.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
  packages/model-api-builder/package-lock.json
  packages/openapi-v3/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/security/package-lock.json
  packages/service-proxy/package-lock.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): add lerna bootstrap as dep
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

Update Getting-started.md
  docs/site/Getting-started.md
Due: node packages/build/bin/run-prettier --write

feat(cli): specify models with --models in lb4 discover
  docs/site/Discovering-models.md
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add support for Binary to handle blob
  packages/cli/generators/model/property-definition.js
  packages/cli/test/unit/discover/import-discovered-model.test.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): response type from array to object in belongsTo
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(sequelize): add sql transactions support
  extensions/sequelize/README.md
  extensions/sequelize/src/__tests__/fixtures/controllers/index.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/product.controller.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/test.controller.base.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/transaction.controller.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/config.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/db.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/primary.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/datasources/secondary.datasource.ts
  extensions/sequelize/src/__tests__/fixtures/models/index.ts
  extensions/sequelize/src/__tests__/fixtures/models/product.model.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/appointment.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/book.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/category.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/developer.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/doctor.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/index.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/patient.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/product.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/programming-language.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo-list.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo.repository.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/user.repository.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
  extensions/sequelize/src/types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): pass flags to mysql-connector while lb4 discover
  docs/site/Discovering-models.md
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/model.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): extend from DefaultKeyValueRepository in case of kv datasource
  packages/cli/generators/repository/templates/src/repositories/repository-kv-template.ts.ejs
  packages/cli/test/integration/generators/repository.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: allow belongsTo relation with same table
  packages/cli/generators/relation/base-relation.generator.js
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/generators/relation/utils.generator.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/fixtures/relation/controllers/employee.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/employee.model.ts
  packages/cli/test/fixtures/relation/repositories/employee.repository.ts
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
