Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix lint error
  examples/passport-login/src/__tests__/acceptance/passport-login.acceptance.ts
  extensions/authentication-passport/src/__tests__/acceptance/authentication-with-passport-strategy-oauth2-adapter.acceptance.ts
  packages/rest/src/__tests__/acceptance/coercion/coercion.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(graphql): migrate to apollo server 4
  examples/graphql/package.json
  examples/graphql/src/__tests__/acceptance/graphql-context.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
  examples/graphql/src/application.ts
  extensions/graphql/package.json
  extensions/graphql/src/__tests__/integration/export-graphql-spec.integration.ts
  extensions/graphql/src/__tests__/unit/graphql.server.unit.ts
  extensions/graphql/src/booters/resolver.booter.ts
  extensions/graphql/src/graphql.container.ts
  extensions/graphql/src/graphql.server.ts
  extensions/graphql/src/index.ts
  extensions/graphql/src/keys.ts
  extensions/graphql/src/types.ts
  package-lock.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix test in tsdocs
  packages/tsdocs/src/__tests__/acceptance/tsdocs.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: iterate through content object properties
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/uspto.yaml
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Update Getting-started.md
  docs/site/Getting-started.md
Due: node packages/build/bin/run-prettier --write

chore: remove FB link in README
  README.md
Due: node packages/build/bin/run-prettier --write

chore: update LB4 EOL date
  README.md
Due: node packages/build/bin/run-prettier --write

feat: show index information in openapi specs
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/rest/src/validation/ajv-factory.provider.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: replace jade with pug
  examples/passport-login/package.json
  examples/passport-login/web-application/express-app.js
  examples/passport-login/web-application/views/layouts/layout.pug
  examples/passport-login/web-application/views/pages/index.pug
  examples/passport-login/web-application/views/pages/login.pug
  examples/passport-login/web-application/views/pages/loginProfiles.pug
  examples/passport-login/web-application/views/pages/signup.pug
  examples/passport-login/web-application/views/partials/banner.pug
  examples/passport-login/web-application/views/partials/footer.pug
  examples/passport-login/web-application/views/partials/head.pug
  examples/passport-login/web-application/views/partials/navigation.pug
  package-lock.json
  packages/cli/lib/utils.js
  packages/cli/package.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: use Node.js 24 for tests on macos
  .github/workflows/continuous-integration.yml
Due: none

fix(docs): fix typos in documentation
  examples/socketio/README.md
  examples/webpack/README.md
  extensions/cron/README.md
  extensions/logging/README.md
  packages/boot/README.md
  packages/metadata/README.md
  packages/rest/README.md
Due: node packages/build/bin/run-prettier --write

fix: update @loopback/core to latest major version
  .github/workflows/continuous-integration.yml
  extensions/apiconnect/package.json
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/package.json
  extensions/context-explorer/package.json
  extensions/cron/package.json
  extensions/graphql/package.json
  extensions/health/package.json
  extensions/logging/package.json
  extensions/metrics/package.json
  extensions/pooling/package.json
  extensions/sequelize/package.json
  extensions/socketio/package.json
  extensions/typeorm/package.json
  package-lock.json
  packages/authentication/package.json
  packages/authorization/package.json
  packages/boot/package.json
  packages/booter-lb3app/package.json
  packages/express/package.json
  packages/model-api-builder/package.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package.json
  packages/repository-tests/package.json
  packages/repository/package.json
  packages/rest-crud/package.json
  packages/rest-explorer/package.json
  packages/rest/package.json
  packages/service-proxy/package.json
Due: none

fix: update peerDependencies versions
  bodyparsers/rest-msgpack/package.json
  extensions/apiconnect/package.json
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/package.json
  extensions/context-explorer/package.json
  extensions/graphql/package.json
  extensions/health/package.json
  extensions/logging/package.json
  extensions/metrics/package.json
  extensions/sequelize/package.json
  extensions/socketio/package.json
  extensions/typeorm/package.json
  packages/authentication/package.json
  packages/booter-lb3app/package.json
  packages/model-api-builder/package.json
  packages/repository-json-schema/package.json
  packages/repository-tests/package.json
  packages/rest-crud/package.json
  packages/rest-explorer/package.json
Due: none

fix: fix the last peerDependencies
  packages/security/package.json
Due: none

chore: publish release
  docs/CHANGELOG.md
  docs/package.json
  examples/access-control-migration/CHANGELOG.md
  examples/access-control-migration/package.json
  examples/passport-login/CHANGELOG.md
  examples/passport-login/package.json
  examples/todo-jwt/CHANGELOG.md
  examples/todo-jwt/package.json
  examples/webpack/CHANGELOG.md
  examples/webpack/package.json
  extensions/authentication-jwt/CHANGELOG.md
  extensions/authentication-jwt/package.json
  extensions/authentication-passport/CHANGELOG.md
  extensions/authentication-passport/package.json
  package-lock.json
  packages/authentication/CHANGELOG.md
  packages/authentication/package.json
  packages/authorization/CHANGELOG.md
  packages/authorization/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/security/CHANGELOG.md
  packages/security/package.json
Due: node packages/build/bin/run-prettier --write

fix: undo copyright updates
  packages/cli/test/fixtures/copyright/single-package/index.js
  packages/cli/test/fixtures/copyright/single-package/lib/no-header.js
  packages/cli/test/fixtures/copyright/single-package/src/application.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: adding tests and comments illustrating the discriminator bug issue
  examples/validation-app/src/__tests__/acceptance/validate-discriminator.acceptance.ts
  examples/validation-app/src/controllers/pet.controller.ts
  examples/validation-app/src/models/pet.model.ts
  packages/rest/src/validation/request-body.validator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: copyright updates
  packages/cli/test/fixtures/copyright/single-package/index.js
  packages/cli/test/fixtures/copyright/single-package/lib/no-header.js
  packages/cli/test/fixtures/copyright/single-package/src/application.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: illustrate the discriminator bug and fix in loopback rest request-body-validator
  examples/validation-app/src/application.ts
  examples/validation-app/src/controllers/index.ts
  examples/validation-app/src/controllers/pet.controller.ts
  examples/validation-app/src/middleware/validation-error.middleware.ts
  examples/validation-app/src/models/index.ts
  examples/validation-app/src/models/pet.model.ts
  packages/rest/src/validation/request-body.validator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: removal of comments and implementation of bug fix
  examples/validation-app/src/__tests__/acceptance/validate-discriminator.acceptance.ts
  packages/rest/src/validation/request-body.validator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: #10494 - lb4 controller fails with controllerType as BASIC
  packages/cli/generators/controller/index.js
  packages/cli/test/integration/generators/controller.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix for having a proper json schema for "where"
  packages/repository-json-schema/src/filter-json-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: correct Node versions in README.md
  README.md
Due: node packages/build/bin/run-prettier --write

chore: update dependency pettier to ^3.6.0
  package-lock.json
  package.json
Due: none

chore: fix lint issues
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINING.md
  docs/ROADMAP.md
  docs/site/Application-generator.md
  docs/site/Appsody-LoopBack.md
  docs/site/Binding.md
  docs/site/Crafting-LoopBack-4.md
  docs/site/Customizing-server-configuration.md
  docs/site/DEVELOPING.md
  docs/site/Developing-with-vscode.md
  docs/site/Extension-generator.md
  docs/site/Inside-Loopback-Application.md
  docs/site/Interceptor.md
  docs/site/Life-cycle.md
  docs/site/Middleware.md
  docs/site/Model-generator.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/REST-middleware-sequence.md
  docs/site/Relation-generator.md
  docs/site/migration/auth/migration-auth-access-control-example.md
  docs/site/migration/auth/passport.md
  docs/site/tutorials/core/1-introduction.md
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
  examples/binding-resolution/README.md
  examples/file-transfer/README.md
  examples/greeting-app/README.md
  examples/lb3-application/README.md
  extensions/authentication-passport/README.md
  extensions/context-explorer/README.md
  extensions/socketio/README.md
  packages/authentication/docs/authentication-system.md
  packages/build/README.md
  packages/metadata/README.md
Due: node packages/build/bin/run-prettier --write

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
