Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

Revert "fix: show readonly in openapi spec of model property if it is generated"
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore(graphql): re-install graphql-ws
  extensions/graphql/package.json
  package-lock.json
Due: none

chore(graphql): version 0.11.8
  examples/graphql/package.json
  extensions/graphql/package.json
  package-lock.json
Due: none

ci: fix macos tests
  .github/workflows/continuous-integration.yml
Due: none

feat(graphql): add more tests for subscription
  examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore(graphql): refactor subscription tests
  examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Update Getting-started.md add "npm install" comando line.
  docs/site/Getting-started.md
Due: node packages/build/bin/run-prettier --write

Update examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore(graphql): fix dependencies
  examples/graphql/package.json
  extensions/graphql/package.json
  package-lock.json
Due: none

chore(graphql): get rest server using rest bindings
  extensions/graphql/src/graphql.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix lint error
  extensions/socketio/src/socketio.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore(graphql): revert version
  extensions/graphql/package.json
  package-lock.json
Due: none

chore(graphql): fix type of graphql context resolver
  examples/graphql/src/application.ts
  extensions/graphql/src/types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(build): support hybrid CJS/ESM setups
  packages/build/config/tsconfig.common.json
Due: none

feat(boot): support loading ESM artifacts
  packages/boot/src/__tests__/fixtures/cjs.artifact.cjs
  packages/boot/src/__tests__/fixtures/esm.artifact.mjs
  packages/boot/src/__tests__/fixtures/multiple.artifact.cts
  packages/boot/src/__tests__/fixtures/multiple.artifact.mts
  packages/boot/src/__tests__/unit/booters/booter-utils.unit.ts
  packages/boot/src/booters/base-artifact.booter.ts
  packages/boot/src/booters/booter-utils.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: creating monorepo packages post-Lerna@7
  bin/create-package.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add EditorConfig files to project template
  .editorconfig
  docs/site/Application-generator.md
  docs/site/Getting-started.md
  docs/site/deployment/Deploying_to_ibm_cloud_kubernetes.md
  docs/site/tutorials/connectors/Mysql-tutorial.md
  docs/site/tutorials/connectors/Postgresql-tutorial.md
  docs/site/tutorials/soap-calculator/soap-calculator-tutorial-scaffolding.md
  docs/site/tutorials/todo/todo-tutorial-scaffolding.md
  examples/access-control-migration/.editorconfig
  examples/binding-resolution/.editorconfig
  examples/context/.editorconfig
  examples/express-composition/.editorconfig
  examples/file-transfer/.editorconfig
  examples/graphql/.editorconfig
  examples/greeter-extension/.editorconfig
  examples/greeting-app/.editorconfig
  examples/hello-world/.editorconfig
  examples/lb3-application/.editorconfig
  examples/log-extension/.editorconfig
  examples/metrics-prometheus/.editorconfig
  examples/multi-tenancy/.editorconfig
  examples/passport-login/.editorconfig
  examples/references-many/.editorconfig
  examples/rest-crud/.editorconfig
  examples/rpc-server/.editorconfig
  examples/soap-calculator/.editorconfig
  examples/socketio/.editorconfig
  examples/todo-jwt/.editorconfig
  examples/todo-list/.editorconfig
  examples/todo/.editorconfig
  examples/validation-app/.editorconfig
  examples/webpack/.editorconfig
  packages/cli/generators/project/templates/.editorconfig
  packages/cli/lib/project-generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update api-extractor packages
  package-lock.json
  packages/tsdocs/package.json
  packages/tsdocs/src/__tests__/acceptance/tsdocs.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: update base Node.js version to v22
  .github/workflows/continuous-integration.yml
  .github/workflows/renovate-config-validator.yml
Due: none

feat: support extending lb4 cli
  packages/cli/lib/cli.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: update geopoint data in tests
  examples/todo/src/__tests__/helpers.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix ci
  examples/webpack/src/__tests__/integration/bundle-web.integration.ts
  packages/cli/.yo-rc.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: update geopoint data in tests
  examples/todo/src/__tests__/helpers.ts
  examples/webpack/src/__tests__/integration/bundle-web.integration.ts
  packages/cli/.yo-rc.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: test ci
  .github/workflows/continuous-integration.yml
  README.md
Due: node packages/build/bin/run-prettier --write

fix(sequelize): ensure nested relations use hidden property config
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(sequelize): update tests to cover hasMany relation
  extensions/sequelize/src/__tests__/fixtures/models/patient.model.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(sequelize): update tests to replicate hidden property bug
  extensions/sequelize/src/__tests__/fixtures/controllers/user-todo-list.controller.ts
  extensions/sequelize/src/__tests__/fixtures/models/todo-list.model.ts
  extensions/sequelize/src/__tests__/fixtures/models/user.model.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo-list.repository.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: iterate through content object properties
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/uspto.yaml
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix lint error
  docs/site/Parsing-requests.md
  docs/site/decorators/Decorators_openapi.md
  docs/site/migration/auth/authentication.md
  packages/cli/generators/copyright/fs.js
  packages/context/src/interceptor.ts
  packages/core/src/application.ts
  packages/http-server/src/http-server.ts
  packages/rest/src/spec-enhancers/info.spec-enhancer.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support restricted properties for authorization
  packages/authorization/src/authorize-interceptor.ts
  packages/authorization/src/keys.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache
