Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency pettier to ^3.6.0
  package-lock.json
  package.json
Due: none

chore: fix lint issues
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  MAINTAINING.md
  docs/ROADMAP.md
  docs/site/Application-generator.md
  docs/site/Appsody-LoopBack.md
  docs/site/Binding.md
  docs/site/Crafting-LoopBack-4.md
  docs/site/Customizing-server-configuration.md
  docs/site/DEVELOPING.md
  docs/site/Developing-with-vscode.md
  docs/site/Extension-generator.md
  docs/site/Inside-Loopback-Application.md
  docs/site/Interceptor.md
  docs/site/Life-cycle.md
  docs/site/Middleware.md
  docs/site/Model-generator.md
  docs/site/Preparing-the-API-for-consumption.shelved.md
  docs/site/REST-middleware-sequence.md
  docs/site/Relation-generator.md
  docs/site/migration/auth/migration-auth-access-control-example.md
  docs/site/migration/auth/passport.md
  docs/site/tutorials/core/1-introduction.md
  docs/spikes/2020-04-how-to-migrate-lb3-components.md
  examples/binding-resolution/README.md
  examples/file-transfer/README.md
  examples/greeting-app/README.md
  examples/lb3-application/README.md
  extensions/authentication-passport/README.md
  extensions/context-explorer/README.md
  extensions/socketio/README.md
  packages/authentication/docs/authentication-system.md
  packages/build/README.md
  packages/metadata/README.md
Due: node packages/build/bin/run-prettier --write

feat: add information for extra fields as extensions to openapi specs
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/src/index.ts
  packages/rest/src/__tests__/unit/ajv-factory.provider.unit.ts
  packages/rest/src/validation/ajv-factory.provider.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: remove types no longer needed
  examples/webpack/package.json
  extensions/cron/package.json
  package-lock.json
  packages/boot/package.json
  packages/cli/package.json
  packages/http-caching-proxy/package.json
Due: none

feat(sequelize): mssql dialect support
  extensions/sequelize/src/sequelize/connector-mapping.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: pass options to repository methods
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support extending lb4 cli
  packages/cli/lib/cli.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: add security escalation policy
  SECURITY.md
Due: node packages/build/bin/run-prettier --write

chore: test pr
  package-lock.json
Due: none

chore: manually install VS build tools for Windows 2025 image
  .github/workflows/continuous-integration.yml
Due: none

update uri
  .github/workflows/continuous-integration.yml
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat: generate relations while discovering models
  packages/cli/generators/discover/index.js
  packages/cli/generators/repository/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/fixtures/discover/index.js
  packages/cli/test/fixtures/discover/mem.datasource.ts.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: temp switch to windows-2022 in ci
  .github/workflows/continuous-integration.yml
Due: none

fix: revert stringify-object version
  package-lock.json
  packages/cli/package.json
Due: none

feat: support relation overwrite by passing --force flag
  packages/cli/generators/relation/base-relation.generator.js
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/has-many-relation.generator.js
  packages/cli/generators/relation/has-many-through-relation.generator.js
  packages/cli/generators/relation/has-one-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/generators/relation/references-many-relation.generator.js
  packages/cli/generators/relation/utils.generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Fix typos in some files
  packages/cli/lib/connectors.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs(README.md): mark Node 24 as LTS
  README.md
Due: node packages/build/bin/run-prettier --write

Fix typos in some files
  docs/site/migration/tables/lb3-only-commands.html
Due: none

feat: support upsert endpoint
  packages/cli/generators/rest-crud/index.js
  packages/cli/generators/rest-crud/templates/src/model-endpoints/model.rest-config-template.ts.ejs
  packages/repository/src/connectors/crud.connector.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/repository/src/repositories/repository.ts
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(tsdocs): re-enable proper apidocs generation
  extensions/typeorm/src/typeorm.mixin.ts
  package-lock.json
  packages/boot/src/mixins/boot.mixin.ts
  packages/express/src/middleware-registry.ts
  packages/express/src/mixins/middleware.mixin.ts
  packages/repository/src/mixins/repository.mixin.ts
  packages/service-proxy/src/mixins/service.mixin.ts
  packages/tsdocs/src/monorepo-api-extractor.ts
  packages/tsdocs/src/update-api-md-docs.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(tsdocs): markdown links inside HTML table
  package-lock.json
  packages/tsdocs/src/update-api-md-docs.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs(community extensions): add arc packages to community extensions
  docs/site/Community-extensions.md
Due: node packages/build/bin/run-prettier --write

docs(docs): update community extensions
  docs/site/Community-extensions.md
Due: node packages/build/bin/run-prettier --write

docs(docs): update the community extensions
  docs/site/Community-extensions.md
Due: node packages/build/bin/run-prettier --write

fix: revert camelcase-keys to v7
  package-lock.json
  packages/cli/package.json
Due: none

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
