Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency puppeteer to ^14.1.0
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

chore: update dependency swagger-ui-dist to v4.11.1
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
Due: none

chore: update api-extractor packages
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency @commitlint/cli to ^16.3.0
  package-lock.json
  package.json
Due: none

chore: update dependency url-slug to ^3.0.4
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update dependency eslint-plugin-eslint-plugin to ^4.2.0
  package-lock.json
  package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore: update commitlint monorepo to v17
  package-lock.json
  package.json
Due: none

feat(rest-crud): add option to create readonly rest-crud apis
  docs/site/Rest-Crud-generator.md
  packages/cli/.yo-rc.json
  packages/cli/generators/rest-crud/index.js
  packages/cli/generators/rest-crud/templates/src/model-endpoints/model.rest-config-template.ts.ejs
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/rest-crud.integration.snapshots.js
  packages/cli/test/integration/generators/rest-crud.integration.js
  packages/rest-crud/README.md
  packages/rest-crud/src/__tests__/unit/crud-rest-controller.unit.ts
  packages/rest-crud/src/crud-rest.api-builder.ts
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency passport to ^0.5.3
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
Due: none

chore: update dependency minimatch to ^5.1.0
  extensions/graphql/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update dependency testcontainers to ^8.10.1
  acceptance/extension-logging-fluentd/package-lock.json
  acceptance/extension-logging-fluentd/package.json
Due: none

Update Understanding-the-differences.md
  docs/site/Understanding-the-differences.md
Due: node packages/build/bin/run-prettier --write

chore: update lint packages to ^5.25.0
  package-lock.json
  package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore: update dependency pacote to ^13.4.0
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update socket.io packages to ^4.5.1
  examples/socketio/package-lock.json
  examples/socketio/package.json
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
Due: none

fix(openapi-spec-builder): fix resolution of openapi urls returning http unauthorized error
  packages/cli/generators/openapi/spec-loader.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add option to mark id field as not required in discover command
  docs/site/Discovering-models.md
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): look for all id properties including composite keys
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency bson to v4.6.4
  packages/repository/package-lock.json
  packages/repository/package.json
Due: none

feat(cli): add option to create relations in cli discover command
  docs/site/Discovering-models.md
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/generators/model/templates/model.ts.ejs
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency puppeteer to ^14.1.1
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
