Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: samarpanb joins TSC
  README.md
Due: node packages/build/bin/run-prettier --write

fix: accept exclude as an array with more options
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/spec-loader.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add correct parameter name for controller method
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

change dataSource to datasource
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: enable lb4 relation generate relation with same table
  packages/cli/generators/relation/templates/controller-relation-template-has-one.ts.ejs
  packages/cli/test/integration/generators/relation.has-one.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(build): correctly join file paths on windows when copying resources
  packages/build/bin/compile-package.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(sequelize): parse JSON columns to objects for non-Postgres dialects
  extensions/sequelize/src/__tests__/fixtures/models/user.model.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(sequelize): add test coverage for JSON parsing for mysql
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

refactor(sequelize): restrict the JSON parse to mysql dialect
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

refactor(sequelize): use flag on SequelizeDataSource for JSON parsing
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: remove redundant assertion
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add information about foreign key
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: mention another possible type of index
  docs/site/Model.md
Due: node packages/build/bin/run-prettier --write

fix: add information for extra fields as extensions to openapi specs
  packages/openapi-v3/src/__tests__/unit/json-to-schema.unit.ts
  packages/openapi-v3/src/json-to-schema.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
  packages/repository-json-schema/src/index.ts
  packages/rest/src/__tests__/unit/ajv-factory.provider.unit.ts
  packages/rest/src/validation/ajv-factory.provider.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: correct MongoDB ID conversion in hasManyThrough relations
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): avoid duplication for openapi generator
  docs/site/OpenAPI-generator.md
  packages/cli/.yo-rc.json
  packages/cli/generators/openapi/index.js
  packages/cli/generators/openapi/spec-loader.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-petstore.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto-with-anonymous.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-uspto.integration.snapshots.js
  packages/cli/snapshots/integration/generators/swagger-petstore.integration.snapshots.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: proper parameter name for api method
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-petstore.integration.snapshots.js
  packages/cli/snapshots/unit/openapi/controller-spec.unit.snapshots.js
  packages/cli/test/fixtures/openapi/3.0/petstore-expanded.yaml
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: change dataSource to datasource for consistency
  docs/site/Discovering-models.md
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/package.json
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: remove appveyor badge
  README.md
Due: node packages/build/bin/run-prettier --write

feat(core): allow a component to register nesting components
  packages/core/src/__tests__/acceptance/application.acceptance.ts
  packages/core/src/application.ts
  packages/core/src/component.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support loging in with username
  extensions/authentication-jwt/src/services/user.service.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: revert lerna version to 8.1.2
  package-lock.json
  package.json
Due: none

feat: support specific datasource migration
  packages/cli/generators/app/templates/src/migrate.ts.ejs
Due: none

feat: support authentication for rest-crud based APIs
  packages/rest-crud/README.md
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
