Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update lint packages to ^5.27.1
  package-lock.json
  package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore: update dependency qs to ^6.10.5
  bodyparsers/rest-msgpack/package-lock.json
  examples/access-control-migration/package-lock.json
  examples/references-many/package-lock.json
  examples/rest-crud/package-lock.json
  examples/todo-jwt/package-lock.json
  examples/todo-list/package-lock.json
  examples/todo/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/context-explorer/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  package-lock.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/monorepo/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/rest/package.json
  packages/service-proxy/package-lock.json
Due: none

chore: fix lint error
  extensions/typeorm/src/typeorm.mixin.ts
  fixtures/tsdocs-monorepo/packages/pkg1/dist/index.js
  fixtures/tsdocs-monorepo/packages/pkg1/dist/index.js.map
  fixtures/tsdocs-monorepo/packages/pkg2/dist/index.js
  fixtures/tsdocs-monorepo/packages/pkg2/dist/index.js.map
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update api-extractor packages
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency @graphql-tools/utils to ^8.6.13
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
Due: none

chore: update lerna monorepo to ^5.1.1
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/monorepo/package-lock.json
  packages/monorepo/package.json
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency lint-staged to ^13.0.1
  package-lock.json
  package.json
Due: none

chore: update dependency async to ^3.2.4
  acceptance/extension-logging-fluentd/package-lock.json
  acceptance/repository-cloudant/package-lock.json
  acceptance/repository-cloudant/package.json
  acceptance/repository-mongodb/package-lock.json
  acceptance/repository-mysql/package-lock.json
  acceptance/repository-postgresql/package-lock.json
  bodyparsers/rest-msgpack/package-lock.json
  examples/validation-app/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/service-proxy/package-lock.json
Due: none

chore: update dependency msgpack5 to ^6.0.1
  bodyparsers/rest-msgpack/package-lock.json
  bodyparsers/rest-msgpack/package.json
Due: none

chore: update lerna monorepo to ^5.1.2
  package-lock.json
  package.json
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/monorepo/package-lock.json
  packages/monorepo/package.json
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update lint packages
  package-lock.json
  package.json
  packages/build/package-lock.json
  packages/build/package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

fix(docs): documentation update for non global interceptor
  docs/site/Interceptor-generator.md
Due: node packages/build/bin/run-prettier --write

fix(docs): docs link for discovering models
  docs/site/Model.md
Due: node packages/build/bin/run-prettier --write

fix(docs): documentation update for context
  docs/site/Context.md
Due: node packages/build/bin/run-prettier --write

fix(docs): middleware sequence document update
  docs/site/REST-middleware-sequence.md
Due: node packages/build/bin/run-prettier --write

fix(docs): documentation fix of for repository generator
  docs/site/Repository-generator.md
Due: node packages/build/bin/run-prettier --write

fix(docs): model documentation fix for typo
  docs/site/Model.md
Due: node packages/build/bin/run-prettier --write

fix(docs): documentation typo fix in filters query and relation
  docs/site/Include-filter.md
  packages/filter/src/query.ts
  packages/repository/src/relations/relation.helpers.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): documentation fix of for overridden text
  docs/site/LB3-vs-LB4-request-response-cycle.md
  docs/site/Testing-your-application.md
  docs/site/decorators/Decorators_openapi.md
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): documentation typo fix in request response cycle
  docs/site/Request-response-cycle.md
Due: node packages/build/bin/run-prettier --write

fix(docs): documentation fix of for infered text
  docs/site/Repository-generator.md
Due: node packages/build/bin/run-prettier --write

fix(docs): fix in docs of dynamic models for typo
  docs/site/Dynamic-models-repositories-controllers.md
Due: node packages/build/bin/run-prettier --write

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
