Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

fix: changes to adapt to prettier's major version
  packages/build/bin/run-prettier.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: fix lint
  benchmark/src/autocannon.ts
  examples/binding-resolution/src/services/counter.service.ts
  examples/webpack/README.md
  extensions/socketio/src/socketio-controller-factory.ts
  fixtures/tsdocs-monorepo/packages/pkg1/src/index.ts
  packages/cli/generators/relation/has-many-through-relation.generator.js
  packages/context/src/__tests__/unit/value-promise.unit.ts
  packages/context/src/binding.ts
  packages/repository/src/relations/has-many/has-many-through.repository-factory.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
  packages/rest/src/parser.ts
  packages/rest/src/rest.server.ts
  packages/service-proxy/src/legacy-juggler-bridge.ts
  packages/testlab/src/__tests__/unit/to-json.test.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: get binaries from node_modules/.bin folder
  packages/build/bin/compile-package.js
  packages/build/bin/run-eslint.js
  packages/build/bin/run-mocha.js
  packages/build/bin/run-nyc.js
  packages/build/bin/run-prettier.js
  packages/build/bin/utils.js
  packages/build/test/integration/scripts.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: apidocs generation
  package-lock.json
  packages/tsdocs/package.json
Due: none

fix(docs): update README on LB3 support
  README.md
Due: node packages/build/bin/run-prettier --write

docs: fix requestBody.array JsDoc example
  packages/openapi-v3/src/decorators/request-body.decorator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): fix migration link to Getting-started page
  docs/site/migration/mounting-lb3app.md
Due: node packages/build/bin/run-prettier --write

fix(docs): fix migration/auth/passport section links
  docs/site/migration/auth/passport.md
Due: node packages/build/bin/run-prettier --write

ci: revert to the latest version of v20
  .github/workflows/continuous-integration.yml
Due: none

test: use Array Length with Fill instead of a For loop
  packages/rest/src/__tests__/integration/rest.server.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(repository): improve HasManyThrough inclusion performance
  packages/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(repository-tests): add test for bi-drectional hasManyThrough relation inclusion
  packages/repository-tests/src/crud/relations/acceptance/has-many-through-inclusion-resolver.acceptance.ts
  packages/repository-tests/src/crud/relations/fixtures/models/cart-item.model.ts
  packages/repository-tests/src/crud/relations/fixtures/repositories/cart-item.repository.ts
  packages/repository-tests/src/crud/relations/helpers.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: webpack is not compiling util.promisify
  .github/workflows/continuous-integration.yml
  examples/webpack/index.html
  examples/webpack/webpack.config.js
  package.json
  packages/context/src/context-view.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Update Where-filter.md fix typo in like query
  docs/site/Where-filter.md
Due: node packages/build/bin/run-prettier --write

Update Where-filter.md
  docs/site/Where-filter.md
Due: node packages/build/bin/run-prettier --write

docs: clarify in delete round brackets for input
  docs/site/Getting-started.md
Due: node packages/build/bin/run-prettier --write

fix(docs): fix typo in nlike filter query
  docs/site/Where-filter.md
Due: node packages/build/bin/run-prettier --write

fix(cli): display model choices alphabetically for "lb4 discover" CLI command
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): fix linter errors
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix binding templates for base classes
  packages/context/src/binding-inspector.ts
  packages/core/src/__tests__/unit/application.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: use FQIN in Dockerfile
  docs/site/Application-generator.md
  examples/access-control-migration/Dockerfile
  examples/multi-tenancy/Dockerfile
  examples/references-many/Dockerfile
  examples/rest-crud/Dockerfile
  examples/socketio/Dockerfile
  examples/todo-jwt/Dockerfile
  examples/todo-list/Dockerfile
  examples/todo/Dockerfile
  packages/cli/generators/app/templates/Dockerfile
Due: node packages/build/bin/run-prettier --write

chore: fix lint
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  packages/cli/snapshots/integration/generators/app.integration.snapshots.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/context/src/__tests__/acceptance/inject-multiple-values.acceptance.ts
  packages/repository/src/__tests__/integration/repositories/relation.factory.integration.ts
  packages/repository/src/relations/has-many/has-many-through.repository.ts
  packages/repository/src/relations/has-one/has-one.repository.ts
  packages/rest/src/router/controller-route.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache
