Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: @loopback/rest - validation/request-body.validator
  packages/rest/src/__tests__/acceptance/validation/validation.acceptance.ts
  packages/rest/src/validation/request-body.validator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency @types/http-errors to ^1.8.2
  bodyparsers/rest-msgpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/express/package-lock.json
  packages/express/package.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency @types/jsonwebtoken to v8.5.7
  examples/multi-tenancy/package-lock.json
  examples/multi-tenancy/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
Due: none

fix: remove code sample line
  docs/site/tutorials/todo/todo-tutorial-model.md
Due: node packages/build/bin/run-prettier --write

chore: update dependency loopback-connector-postgresql to ^5.5.0
  acceptance/repository-postgresql/package-lock.json
  acceptance/repository-postgresql/package.json
Due: none

fix: invalid glob for nested dirs
  packages/boot/src/__tests__/unit/booters/base-artifact.booter.unit.ts
  packages/boot/src/booters/base-artifact.booter.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency mocha to ^9.1.4
  benchmark/package-lock.json
  benchmark/package.json
  examples/soap-calculator/package-lock.json
  examples/soap-calculator/package.json
  packages/build/package-lock.json
  packages/build/package.json
Due: none

chore: update dependency casbin to ^5.12.0
  examples/access-control-migration/package-lock.json
  examples/access-control-migration/package.json
  packages/authorization/package-lock.json
  packages/authorization/package.json
Due: none

chore: update dependency puppeteer to ^13.1.0
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

chore: update dependency puppeteer to ^13.1.1
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

chore: update dependency axios to ^0.25.0
  benchmark/package-lock.json
  benchmark/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
  packages/cli/package-lock.json
  packages/http-caching-proxy/package-lock.json
  packages/http-caching-proxy/package.json
Due: none

chore: update dependency ajv to ^8.9.0
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: fix appveyor badge [skip ci]
  README.md
Due: node packages/build/bin/run-prettier --write

chore: update dependency @types/express-serve-static-core to ^4.17.28
  bodyparsers/rest-msgpack/package-lock.json
  examples/express-composition/package-lock.json
  examples/file-transfer/package-lock.json
  examples/file-transfer/package.json
  examples/graphql/package-lock.json
  examples/lb3-application/package-lock.json
  examples/passport-login/package-lock.json
  examples/rpc-server/package-lock.json
  examples/validation-app/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/typeorm/package-lock.json
  fixtures/mock-oauth2-provider/package-lock.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/cli/package-lock.json
  packages/express/package-lock.json
  packages/express/package.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/rest/package.json
  packages/testlab/package-lock.json
Due: none

chore: update dependency @types/jsonwebtoken to v8.5.8
  examples/multi-tenancy/package-lock.json
  examples/multi-tenancy/package.json
  examples/passport-login/package-lock.json
  examples/passport-login/package.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  fixtures/mock-oauth2-provider/package-lock.json
  fixtures/mock-oauth2-provider/package.json
Due: none

chore: demo include with fields bug
  examples/todo-list/src/__tests__/acceptance/todo.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency eslint to ^8.7.0
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore: update dependency sinon to v12
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/testlab/package-lock.json
  packages/testlab/package.json
Due: none

chore: update dependency write-file-atomic to v4
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update dependency lint-staged to ^12.3.2
  package-lock.json
  package.json
Due: none

chore: update dependency swagger-ui-dist to v4.4.0
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
Due: none

chore: update dependency winston to ^3.5.0
  extensions/logging/package-lock.json
  extensions/logging/package.json
Due: none

chore: update dependency @types/sinon to ^10.0.9
  packages/testlab/package-lock.json
  packages/testlab/package.json
Due: none

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
