Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: update dependency @graphql-tools/utils to ^8.6.3
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
Due: none

chore: update dependency @types/json-schema to ^7.0.10
  bodyparsers/rest-msgpack/package-lock.json
  examples/webpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/typeorm/package-lock.json
  extensions/typeorm/package.json
  package-lock.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/cli/package-lock.json
  packages/eslint-config/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-json-schema/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
Due: none

chore: update dependency pacote to ^13.0.5
  packages/cli/package-lock.json
  packages/cli/package.json
Due: none

chore: update dependency casbin to ^5.14.0
  examples/access-control-migration/package-lock.json
  examples/access-control-migration/package.json
  packages/authorization/package-lock.json
  packages/authorization/package.json
Due: none

refactor: replace deprecated String.prototype.substr()
  packages/cli/lib/utils.js
  packages/context/src/binding-key.ts
  packages/metadata/src/reflect.ts
  packages/rest-explorer/src/rest-explorer.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add cache command to generate cache capabilities in application
  packages/cli/generators/cache/cache-component.js
  packages/cli/generators/cache/index.js
  packages/cli/generators/cache/templates/src/models/cache-model-template.ts.ejs
  packages/cli/generators/cache/templates/src/providers/cache-strategy-provider-template.ts.ejs
  packages/cli/generators/cache/templates/src/repositories/cache-repository-template.ts.ejs
  packages/cli/lib/cli.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): fix generation of index.ts in cache command
  packages/cli/generators/cache/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: 🎸 added models option in lb4 discover cli command
  docs/site/Discovering-models.md
  packages/cli/.yo-rc.json
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: add integration tests for lb4 cache command
  packages/cli/.yo-rc.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/cache.integration.snapshots.js
  packages/cli/test/fixtures/cache/application.ts
  packages/cli/test/fixtures/cache/index.js
  packages/cli/test/integration/generators/cache.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: add docs for lb4 cache command
  docs/site/Cache-generator.md
  docs/site/sidebars/lb4_sidebar.yml
Due: node packages/build/bin/run-prettier --write

fix(docs): update 'Migrating datasources' dead link
  docs/site/migration/overview.md
Due: node packages/build/bin/run-prettier --write

feat(cli): model generator can now pick properties from config file
  packages/cli/generators/model/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(cli): add integration test for model generator with config properties
  packages/cli/test/integration/generators/model.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: update coc
  docs/CODE_OF_CONDUCT.md
Due: node packages/build/bin/run-prettier --write

ci: use shared renovate config
  .github/renovate.json5
  renovate.json
Due: none

chore: update dependency swagger-ui-dist to v4.9.1
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
Due: none

chore: fix lint
  docs/CODE_OF_CONDUCT.md
  package.json
Due: node packages/build/bin/run-prettier --write

chore: update dependency @types/json-schema to ^7.0.11
  extensions/typeorm/package-lock.json
  extensions/typeorm/package.json
  packages/repository-json-schema/package-lock.json
  packages/repository-json-schema/package.json
  packages/repository/package-lock.json
  packages/repository/package.json
Due: none

chore: update dependency @types/supertest to ^2.0.12
  packages/testlab/package-lock.json
  packages/testlab/package.json
Due: none

chore: update dependency bson to v4.6.2
  acceptance/repository-mongodb/package-lock.json
  packages/repository/package-lock.json
  packages/repository/package.json
Due: none

chore: update dependency autocannon to ^7.8.0
  benchmark/package-lock.json
  benchmark/package.json
Due: none

chore: update dependency swagger-ui-dist to v4.10.0
  packages/rest-explorer/package-lock.json
  packages/rest-explorer/package.json
Due: none

docs: update security reporting
  README.md
  SECURITY.md
Due: node packages/build/bin/run-prettier --write
