Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: add tests
  package-lock.json
  packages/http-server/src/__tests__/unit/http-server.unit.ts
  packages/openapi-v3/src/__tests__/unit/build-responses-advanced.unit.ts
  packages/openapi-v3/src/__tests__/unit/build-responses-from-metadata.unit.ts
  packages/openapi-v3/src/__tests__/unit/controller-spec-advanced.unit.ts
  packages/openapi-v3/src/__tests__/unit/decorators/operation-decorators.unit.ts
  packages/openapi-v3/src/__tests__/unit/filter-schema-advanced.unit.ts
  packages/openapi-v3/src/__tests__/unit/generate-schema.unit.ts
  packages/openapi-v3/src/__tests__/unit/json-to-schema-advanced.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: add more tests for core and filter
  packages/core/src/__tests__/unit/component.unit.ts
  packages/core/src/__tests__/unit/extension-point.unit.ts
  packages/core/src/__tests__/unit/keys.unit.ts
  packages/core/src/__tests__/unit/lifecycle.unit.ts
  packages/core/src/__tests__/unit/mixin-target.unit.ts
  packages/core/src/__tests__/unit/server.unit.ts
  packages/core/src/__tests__/unit/service.unit.ts
  packages/filter/src/__tests__/unit/index.unit.ts
  packages/filter/src/__tests__/unit/query.unit.ts
  packages/filter/src/__tests__/unit/types.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(graphql): migrate to type-graphql 2.0.0-rc.2
  examples/graphql/package.json
  examples/graphql/src/__tests__/acceptance/graphql-context.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql-middleware-options.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql-middleware.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql-subscription.acceptance.ts
  examples/graphql/src/__tests__/acceptance/graphql.acceptance.ts
  examples/graphql/src/application.ts
  examples/graphql/src/graphql-resolvers/recipe-resolver.ts
  extensions/graphql/package.json
  extensions/graphql/src/__tests__/fixtures/graphql-resolvers/recipe/recipe.resolver.ts
  extensions/graphql/src/booters/resolver.booter.ts
  extensions/graphql/src/decorators/index.ts
  extensions/graphql/src/graphql.server.ts
  extensions/graphql/src/index.ts
  extensions/graphql/src/keys.ts
  extensions/graphql/src/types.ts
  package-lock.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support non-primary reference keys of source and target model for hasManyThrough
  docs/site/HasManyThrough-relation.md
  docs/site/Relation-generator.md
  packages/cli/.yo-rc.json
  packages/cli/generators/relation/has-many-through-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.has-many-through.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.references-many.integration.snapshots.js
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/friend1.model.ts
  packages/cli/test/fixtures/relation/repositories/friend1.repository.ts
  packages/cli/test/integration/generators/relation.has-many-through.integration.js
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/relations/relation.types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support non-primary reference keys of source and target models for hasManyThrough
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/relations/relation.types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update .nycrc
  .nycrc
Due: none

chore: add more tests
  examples/soap-calculator/src/__tests__/unit/controllers/calculator.controller.unit.ts
  examples/todo/src/__tests__/unit/models/todo.model.unit.ts
  examples/validation-app/src/__tests__/unit/interceptors/validate-phone-num.interceptor.unit.ts
  examples/validation-app/src/__tests__/unit/middleware/validation-error.middleware.unit.ts
  examples/validation-app/src/__tests__/unit/models/coffee-shop.model.unit.ts
  examples/validation-app/src/__tests__/unit/models/pet.model.unit.ts
  packages/cli/test/unit/cli.unit.js
  packages/cli/test/unit/debug.unit.js
  packages/cli/test/unit/globalize.unit.js
  packages/cli/test/unit/model-discoverer.unit.js
  packages/cli/test/unit/utils.unit.js
  packages/cli/test/unit/version-helper.unit.js
  packages/repository/src/__tests__/unit/datasource.unit.ts
  packages/repository/src/__tests__/unit/keys.unit.ts
  packages/repository/src/__tests__/unit/repositories/constraint-utils.unit.ts
  packages/repository/src/__tests__/unit/transaction.unit.ts
  packages/rest/src/__tests__/unit/keys.unit.ts
  packages/rest/src/__tests__/unit/rest-http-error.unit.ts
  packages/security/src/__tests__/unit/keys.unit.ts
  packages/security/src/__tests__/unit/types.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: test
  examples/validation-app/src/__tests__/unit/middleware/validation-error.middleware.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: test
  examples/metrics-prometheus/src/__tests__/unit/controllers/greeting.controller.unit.ts
  examples/metrics-prometheus/src/__tests__/unit/services/greeting.service.unit.ts
  examples/multi-tenancy/src/__tests__/unit/multi-tenancy/keys.unit.ts
  examples/multi-tenancy/src/__tests__/unit/multi-tenancy/types.unit.ts
  examples/todo-list/src/__tests__/unit/models/todo-list-image.model.unit.ts
  examples/todo-list/src/__tests__/unit/models/todo-list.model.unit.ts
  examples/todo/src/__tests__/unit/repositories/todo.repository.unit.ts
  examples/validation-app/src/__tests__/unit/controllers/coffee-shop.controller.unit.ts
  examples/validation-app/src/__tests__/unit/repositories/coffee-shop.repository.unit.ts
  packages/cli/test/unit/artifact-generator.unit.js
  packages/cli/test/unit/project-generator.unit.js
  packages/repository-tests/src/__tests__/unit/helpers.unit.ts
  packages/repository-tests/src/__tests__/unit/types.unit.ts
  packages/repository/src/__tests__/unit/common-types.unit.ts
  packages/repository/src/__tests__/unit/type-resolver.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: test
  packages/repository/src/__tests__/unit/type-resolver.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: test
  examples/validation-app/src/__tests__/unit/controllers/coffee-shop.controller.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix ci with cert issue
  packages/http-caching-proxy/src/http-caching-proxy.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: fix ci
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: test
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: revert changes
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(http-caching-proxy): skip SSL verification for outbound HTTPS requests
  packages/http-caching-proxy/src/http-caching-proxy.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: fix ci
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
  packages/http-caching-proxy/src/http-caching-proxy.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(graphql): install type-graphql@2.0.0-rc.3
  extensions/graphql/package.json
  package-lock.json
Due: none

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Due: node packages/build/bin/run-prettier --write

chore: migrate husky to v9 configuration
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

feat: add loopback-core AI agent skill for skills.sh
  skills/loopback-core/SKILL.md
  skills/loopback-core/references/advanced-recipes.md
  skills/loopback-core/references/configuration.md
  skills/loopback-core/references/context-and-bindings.md
  skills/loopback-core/references/dependency-injection.md
  skills/loopback-core/references/extension-points.md
  skills/loopback-core/references/interceptors-and-observers.md
Due: node packages/build/bin/run-prettier --write

fix(repository-json-schema): fix circular chains when using 'includeRelations'
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: add model in get response
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: reject relation generation when same relation name and foreign key
  packages/cli/generators/relation/index.js
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix error after passport update
  examples/passport-login/src/authentication-strategy-providers/facebook.express-mw.ts
  examples/passport-login/src/authentication-strategy-providers/google.express-mw.ts
  examples/passport-login/src/authentication-strategy-providers/oauth2.express-mw.ts
  examples/passport-login/src/authentication-strategy-providers/twitter.express-mw.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: increase PR concurrent limit
  renovate.json
Due: none

fix: add dependencies
  package-lock.json
  package.json
Due: none
