Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support outDir flag for controllers
  packages/cli/generators/controller/index.js
  packages/cli/lib/base-generator.js
  packages/cli/lib/update-index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: add Node.js 23 to CI
  .github/workflows/continuous-integration.yml
Due: none

fix(sequelize): ensure nested relations use hidden property config
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(sequelize): update tests to replicate hidden property bug
  extensions/sequelize/src/__tests__/fixtures/controllers/user-todo-list.controller.ts
  extensions/sequelize/src/__tests__/fixtures/models/todo-list.model.ts
  extensions/sequelize/src/__tests__/fixtures/models/user.model.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/todo-list.repository.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(sequelize): update tests to cover hasMany relation
  extensions/sequelize/src/__tests__/fixtures/models/patient.model.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: test
  README.md
Due: node packages/build/bin/run-prettier --write

fix: fix
  .github/workflows/continuous-integration.yml
Due: none

fix: fixes
  packages/rest/src/validation/request-body.validator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove import for model for same model relation
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: revert latest-version to use v5
  package-lock.json
  packages/cli/package.json
Due: none

fix: replace custom authentication-jwt component with @loopback/authentication-jwt
  examples/access-control-migration/package.json
  examples/access-control-migration/src/application.ts
  examples/access-control-migration/src/components/jwt-authentication/index.ts
  examples/access-control-migration/src/components/jwt-authentication/jwt-authentication-component.ts
  examples/access-control-migration/src/components/jwt-authentication/keys.ts
  examples/access-control-migration/src/components/jwt-authentication/services/index.ts
  examples/access-control-migration/src/components/jwt-authentication/services/jwt.auth.strategy.ts
  examples/access-control-migration/src/components/jwt-authentication/services/jwt.service.ts
  examples/access-control-migration/src/components/jwt-authentication/services/security.spec.ts
  examples/access-control-migration/src/components/jwt-authentication/services/user.service.ts
  examples/access-control-migration/src/controllers/user.controller.ts
  examples/access-control-migration/tsconfig.json
  package-lock.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: use ignore-pattern
  packages/build/bin/run-eslint.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: support non-primary reference keys of source and target model for hasManyThrough
  docs/site/HasManyThrough-relation.md
  docs/site/Relation-generator.md
  packages/cli/.yo-rc.json
  packages/cli/generators/relation/has-many-through-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.has-many-through.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.integration.snapshots.js
  packages/cli/snapshots/integration/generators/relation.references-many.integration.snapshots.js
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/friend1.model.ts
  packages/cli/test/fixtures/relation/repositories/friend1.repository.ts
  packages/cli/test/integration/generators/relation.has-many-through.integration.js
  packages/repository/src/__tests__/unit/repositories/relations-helpers/resolve-has-many-through-metadata.unit.ts
  packages/repository/src/relations/has-many/has-many-through.helpers.ts
  packages/repository/src/relations/relation.types.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: enable control update in case of multiple belongsTo relation
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/fixtures/relation/controllers/task-employee.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/task.model.ts
  packages/cli/test/fixtures/relation/repositories/task.repository.ts
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix linting issue
  packages/cli/generators/relation/belongs-to-relation.generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: enable passing id for post in case id has generated set to false
  examples/access-control-migration/src/models/user-credentials.model.ts
  examples/express-composition/src/models/note.model.ts
  examples/passport-login/src/models/user-credentials.model.ts
  examples/passport-login/src/models/user-identity.model.ts
  examples/rest-crud/src/models/todo.model.ts
  examples/todo/src/models/todo.model.ts
  packages/repository/src/__tests__/unit/model/define-model-class.unit.ts
  packages/repository/src/model.ts
  packages/rest-crud/src/__tests__/acceptance/default-model-crud-rest.acceptance.ts
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: make filter work on count for consistency
  packages/filter/src/query.ts
  packages/rest-crud/src/__tests__/acceptance/default-model-crud-rest.acceptance.ts
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix test in webpack example
  examples/webpack/src/__tests__/integration/bundle-web.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update LB4 EOL date
  README.md
Due: node packages/build/bin/run-prettier --write

fix: remove @types/bcryptjs
  examples/access-control-migration/package.json
  examples/todo-jwt/package.json
  extensions/authentication-jwt/package.json
Due: none

fix: fix release issue in cli.js
  packages/cli/lib/cli.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: revert terminal-link version
  package-lock.json
  packages/cli/package.json
Due: none

fix: add missing configs
  packages/cli/generators/discover/index.js
  packages/cli/generators/openapi/index.js
  packages/cli/lib/artifact-generator.js
  packages/cli/lib/base-generator.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/openapi-client.integration.snapshots.js
  packages/cli/test/integration/generators/discover.integration.js
  packages/cli/test/integration/generators/openapi-client.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: remove FB link in README
  README.md
Due: node packages/build/bin/run-prettier --write

node version upgraded
  extensions/sequelize/package.json
Due: none

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
