Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

ci: remove fake-tty
  .github/workflows/continuous-integration.yml
Due: none

ci: add Windows runner
  .github/workflows/continuous-integration.yml
Due: none

ci: fix coveralls crash
  .github/workflows/continuous-integration.yml
Due: none

docs: update docs how to set defaultMetadata for methods not decorated with @authenticate
  docs/site/Authentication-component-options.md
Due: node packages/build/bin/run-prettier --write

feat(sequelize): allow direct option forwarding to sequelize instance
  extensions/sequelize/README.md
  extensions/sequelize/src/__tests__/fixtures/datasources/config.ts
  extensions/sequelize/src/__tests__/unit/sequelize.datasource.unit.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: add `@loopback/sequelize` in official components
  docs/site/Component.md
Due: node packages/build/bin/run-prettier --write

ci: improve the way dependencies are installed
  appveyor.yml
Due: none

ci: remove AppVeyor in favour of the Windows runner
  appveyor.yml
Due: none

Update Authentication-Tutorial.md
  docs/site/tutorials/authentication/Authentication-Tutorial.md
Due: node packages/build/bin/run-prettier --write

docs: add sequelize page under accessing databases
  docs/site/Using-Sequelize-with-LoopBack.md
  docs/site/sidebars/lb4_sidebar.yml
  extensions/sequelize/README.md
Due: node packages/build/bin/run-prettier --write

docs: add jekyll installation info for doc site preview
  docs/site/DEVELOPING.md
Due: node packages/build/bin/run-prettier --write

feat(sequelize): custom query support
  extensions/sequelize/src/__tests__/fixtures/controllers/todo-list.controller.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.datasource.base.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: use NPM Workspaces
  .github/workflows/continuous-integration.yml
  lerna.json
  package-lock.json
  package.json
Due: none

ci: the --ignore-scripts option disables the sqlite3 install script
  .github/workflows/continuous-integration.yml
Due: none

ci: temporarily disable webpack sample tests
  .github/workflows/continuous-integration.yml
  package.json
Due: none

fix: fix the usage of the option --connector
  packages/cli/generators/datasource/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: add option to set column naming convention
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add option to singularize model names in discover command
  packages/cli/generators/discover/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: increase timeout
  packages/tsdocs/src/__tests__/acceptance/tsdocs.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add cli options for controller generator
  packages/cli/generators/controller/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix compilation errors for TS 5.x
  packages/metadata/src/decorator-factory.ts
  packages/service-proxy/src/decorators/service.decorator.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: exclude id properties for patch and put requests
  packages/rest-crud/src/__tests__/acceptance/default-model-crud-rest.acceptance.ts
  packages/rest-crud/src/crud-rest.controller.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: support blob type
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache
