Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: set node version 20 to minor version 2
  .github/workflows/continuous-integration.yml
Due: none

fix(sequelize): get table name dynamically
  extensions/sequelize/src/__tests__/fixtures/models/test.model.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(sequelize): handle invalid inclusion filter
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(sequelize): preserve error context
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(sequelize): defer to `toJSON` for hidden property exclusion
  extensions/sequelize/src/__tests__/fixtures/models/developer.model.ts
  extensions/sequelize/src/__tests__/fixtures/models/programming-language.model.ts
  extensions/sequelize/src/__tests__/fixtures/models/user.model.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: support blob type
  packages/repository-json-schema/src/__tests__/integration/build-schema.integration.ts
  packages/repository-json-schema/src/build-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix the usage of the option --connector
  packages/cli/generators/datasource/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: check for existing relationImports
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: add step for CLI testing (Linux only)
  .github/workflows/continuous-integration.yml
Due: none

fix: make changes to adapt Axios v1.x
  packages/http-caching-proxy/src/__tests__/integration/http-caching-proxy.integration.ts
  packages/http-caching-proxy/src/http-caching-proxy.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove ids when inclusion is true
  packages/repository/src/__tests__/unit/repositories/legacy-juggler-bridge.unit.ts
  packages/repository/src/__tests__/unit/repositories/relations-helpers/include-related-models.unit.ts
  packages/repository/src/relations/relation.helpers.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: update
  packages/repository-tests/src/crud/relations/acceptance/belongs-to.inclusion-resolver.polymorphic.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/belongs-to.inclusion-resolver.relation.acceptance.ts
  packages/repository-tests/src/crud/relations/acceptance/has-many-through-inclusion-resolver.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: run lerna repair command
  .github/workflows/continuous-integration.yml
  fixtures/tsdocs-monorepo/lerna.json
  lerna.json
  packages/cli/test/fixtures/copyright/monorepo/lerna.json
Due: none

fix: migrate Lerna to NPM Workspaces
  .github/workflows/continuous-integration.yml
  CODEOWNERS
  bin/check-package-metadata.js
  bin/checkout-pr.js
  bin/config-package-scopes.js
  bin/create-package.js
  bin/fix-monorepo.js
  bin/mocha-current-file.js
  bin/script-util.js
  bin/sync-dev-deps.js
  bin/update-monorepo-file.js
  bin/update-template-deps.js
  bin/update-ts-project-refs.js
  commitlint.config.js
  docs/bin/copy-changelogs.js
  docs/bin/copy-readmes.js
  package-lock.json
  package.json
  packages/cli/generators/copyright/header.js
  packages/cli/package.json
  packages/cli/test/fixtures/copyright/monorepo/lerna.json
  packages/cli/test/fixtures/copyright/monorepo/package.json
  packages/monorepo/.npmrc
  packages/monorepo/CHANGELOG.md
  packages/monorepo/LICENSE
  packages/monorepo/README.md
  packages/monorepo/index.js
  packages/monorepo/lib/check-package-locks.js
  packages/monorepo/lib/config-lerna-scopes.js
  packages/monorepo/lib/rebuild-package-locks.js
  packages/monorepo/lib/run-lerna.js
  packages/monorepo/lib/update-package-deps.js
  packages/monorepo/lib/update-package-json.js
  packages/monorepo/package.json
  packages/tsdocs/package.json
  packages/tsdocs/src/helper.ts
  tsconfig.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: local testing for CLI
  package.json
  packages/cli/test/acceptance/app-run.acceptance.js-bkp
  packages/cli/test/test-utils.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: run tsdoc scripts from root
  package.json
Due: none

chore: update README
  README.md
Due: node packages/build/bin/run-prettier --write

fix: re-incorporate the CLI template dependency updater in each release
  bin/update-template-deps.js
  package.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat: add binary lb for cli
  packages/cli/package.json
Due: none

docs: update instructions for generating a project
  README.md
  docs/site/Getting-started.md
Due: node packages/build/bin/run-prettier --write

fix: use named exports
  packages/cli/lib/utils.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(sequelize): add `defaultFn` support
  extensions/sequelize/src/__tests__/fixtures/controllers/index.ts
  extensions/sequelize/src/__tests__/fixtures/controllers/task.controller.ts
  extensions/sequelize/src/__tests__/fixtures/models/index.ts
  extensions/sequelize/src/__tests__/fixtures/models/task.model.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/index.ts
  extensions/sequelize/src/__tests__/fixtures/repositories/task.repository.ts
  extensions/sequelize/src/__tests__/integration/repository.integration.ts
  extensions/sequelize/src/sequelize/sequelize.repository.base.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: remove unnecessary types
  extensions/pooling/package.json
  package-lock.json
  packages/repository/package.json
Due: none

fix: fix the script to update cli templates
  bin/update-template-deps.js
  packages/cli/package.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: pin ts-query to 5.x as 6.x breaks cli tests on macos
  package-lock.json
  packages/cli/package.json
Due: none

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
