Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: update dependency lint-staged to ^12.1.4
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
  package-lock.json
  package.json
Due: none

chore: update api-extractor packages
  packages/boot/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

Award Blog URL
  docs/site/index.md
Due: node packages/build/bin/run-prettier --write

test: fix MIT license
  packages/cli/test/integration/generators/copyright.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency @graphql-tools/utils to ^8.6.0
  extensions/authentication-jwt/package-lock.json
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/rest-crud/package-lock.json
Due: none

chore: update dependency lint-staged to ^12.1.5
  package-lock.json
  package.json
Due: none

chore: update dependency @microsoft/api-documenter to ^7.14.0
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/boot/package-lock.json
  packages/rest-crud/package-lock.json
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update api-extractor packages
  extensions/authentication-jwt/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/boot/package-lock.json
  packages/tsdocs/package-lock.json
  packages/tsdocs/package.json
Due: none

chore: update dependency http-errors to v2
  packages/express/package-lock.json
  packages/express/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency @types/uuid to ^8.3.4
  bodyparsers/rest-msgpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/cron/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/pooling/package-lock.json
  extensions/socketio/package-lock.json
  packages/authentication/package-lock.json
  packages/authorization/package-lock.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/context/package-lock.json
  packages/context/package.json
  packages/express/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/openapi-v3/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/security/package-lock.json
  packages/service-proxy/package-lock.json
Due: none

chore: update socket.io packages to ^4.4.1
  examples/socketio/package-lock.json
  examples/socketio/package.json
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
  packages/authentication/package-lock.json
  packages/rest-crud/package-lock.json
Due: none

chore: update socket.io packages to ^4.4.1
  examples/socketio/package-lock.json
  examples/socketio/package.json
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
Due: none

chore: update commitlint monorepo
  bodyparsers/rest-msgpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  package-lock.json
  package.json
  packages/authentication/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
Due: none

chore: replace issue template by issue form [skip ci]
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: node packages/build/bin/run-prettier --write

feat: 8126 adding spoof assertion error
  packages/filter/src/query.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency bson to v4.6.1
  acceptance/repository-mongodb/package-lock.json
  packages/repository/package-lock.json
  packages/repository/package.json
Due: none

chore: update dependency lint-staged to ^12.1.6
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  package-lock.json
  package.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/repository-json-schema/package-lock.json
Due: none

chore: update dependency hyperid to v3
  packages/context/package-lock.json
  packages/context/package.json
Due: none

chore: update dependency p-event to v5
  examples/socketio/package-lock.json
  examples/socketio/package.json
  examples/socketio/src/__tests__/acceptance/socketio.server.acceptance.ts
  extensions/socketio/package-lock.json
  extensions/socketio/package.json
  extensions/socketio/src/__tests__/acceptance/socketio.events.acceptance.ts
  extensions/socketio/src/__tests__/acceptance/socketio.server.acceptance.ts
  extensions/socketio/src/__tests__/fixtures/helpers.ts
  extensions/socketio/src/__tests__/unit/socketio.booter.test.ts
  packages/context/package-lock.json
  packages/context/package.json
  packages/context/src/__tests__/unit/context-view.unit.ts
  packages/context/src/context-subscription.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency @types/json-merge-patch to v0.0.8
  bodyparsers/rest-msgpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/context-explorer/package-lock.json
  extensions/cron/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/pooling/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/authorization/package-lock.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/express/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/openapi-v3/package-lock.json
  packages/openapi-v3/package.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/security/package-lock.json
  packages/service-proxy/package-lock.json
Due: none
