Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: add dependencies
  package-lock.json
  package.json
Due: none

fix: enable control update in case of multiple belongsTo relation
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/fixtures/relation/controllers/task-employee.controller.ts
  packages/cli/test/fixtures/relation/index.js
  packages/cli/test/fixtures/relation/models/task.model.ts
  packages/cli/test/fixtures/relation/repositories/task.repository.ts
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: clarify interceptor argument examples
  docs/site/Interceptor.md
Due: node packages/build/bin/run-prettier --write

feat(graphql): migrate to apollo server 5
  extensions/graphql/package.json
  extensions/graphql/src/__tests__/unit/graphql.server.unit.ts
  extensions/graphql/src/graphql.container.ts
  extensions/graphql/src/graphql.server.ts
  extensions/graphql/src/keys.ts
  package-lock.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: propose new docs structure
  docs/new-docs-structure.md
Due: node packages/build/bin/run-prettier --write

fix(docs): updates to docs sidebar
  docs/bin/build-preview-site.sh
  docs/site/Create-your-first-app copy.md
  docs/site/Getting-started.md
  docs/site/Installation.md
  docs/site/sidebars/lb4_sidebar.yml
Due: node packages/build/bin/run-prettier --write

feat: add relation overwrite tests for --force flag
  packages/cli/test/integration/generators/relation.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: ci install and configure Chrome for Puppeteer across platforms
  .github/workflows/continuous-integration.yml
Due: none

fix(docs): remove Appsody documentation and sidebar reference
  docs/site/sidebars/lb4_sidebar.yml
Due: none

fix: delete appsody.md too
  docs/site/Appsody-LoopBack.md
Due: node packages/build/bin/run-prettier --write

feat: support custom outDir for OpenAPI generated artifacts
  packages/cli/generators/openapi/index.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: expect custom query parser function in RestServer
  packages/rest/src/__tests__/unit/rest.server/rest.server.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(rest): make qs arrayLimit configurable for query parsing
  packages/rest/src/__tests__/acceptance/request-parsing/array-limit.acceptance.ts
  packages/rest/src/rest.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: arrayLimit default configured to be 30
  packages/rest/src/__tests__/acceptance/request-parsing/array-limit.acceptance.ts
  packages/rest/src/rest.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(example-webpack): skip bundle-web test on macOS
  examples/webpack/src/__tests__/integration/bundle-web.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(rest): apply queryParser.arrayLimit as opt-in to preserve default behavior
  packages/rest/src/__tests__/acceptance/request-parsing/array-limit.acceptance.ts
  packages/rest/src/rest.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: increase the default from qs's 20-item limit to 100
  packages/rest/src/__tests__/acceptance/request-parsing/array-limit.acceptance.ts
  packages/rest/src/rest.server.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(rest): correct express query parser test expectation
  packages/rest/src/__tests__/unit/rest.server/rest.server.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

ci: add Chrome installation for Puppeteer on Linux
  .github/workflows/continuous-integration.yml
Due: none

chore(cli): configure visibility for app command options
  packages/cli/.yo-rc.json
Due: none

test: skip geocoder service tests on Windows
  examples/todo/src/__tests__/integration/services/geocoder.service.integration.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test: skip address-based reminder test on Windows
  examples/todo/src/__tests__/acceptance/todo.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: added rm -rf ~/.cache/puppeteer before installing Chrome to clear any corrupted cache
  .github/workflows/continuous-integration.yml
Due: none

fix: conditionally import param and requestBody in controller template
  packages/cli/generators/openapi/spec-helper.js
  packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: skip coveralls for macOS
  .github/workflows/continuous-integration.yml
Due: none

ci: fix coveralls failing on macoS
  .github/workflows/continuous-integration.yml
Due: none

feat: handle database errors
  packages/repository/src/__tests__/unit/errors/database-driver-error.test.ts
  packages/repository/src/errors/database-driver.error.ts
  packages/repository/src/errors/index.ts
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): support keyTo option in belongsTo relation generator
  packages/cli/generators/relation/belongs-to-relation.generator.js
  packages/cli/generators/relation/index.js
  packages/cli/generators/relation/templates/controller-relation-template-belongs-to.ts.ejs
  packages/cli/snapshots/integration/generators/relation.belongs-to.integration.snapshots.js
  packages/cli/test/integration/generators/relation.belongs-to.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

Path conditions:
  node packages/build/bin/run-prettier --write: (any of: *.{js,ts}) or (any of: *.md)
  node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache: any of: *.{js,ts}
