Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

fix(repository): remove async from entityToData method in legacy-juggler-bridge
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

docs: add samarpanb to maintainer list
  README.md
Due: node packages/build/bin/run-prettier --write

feat(cli): support for binary to handle BLOB type
  packages/cli/generators/datasource/index.js
  packages/cli/generators/model/property-definition.js
  packages/cli/lib/base-generator.js
  packages/cli/test/unit/discover/import-discovered-model.test.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): fix lb4 discover --config missing provided options
  packages/cli/generators/datasource/index.js
  packages/cli/generators/discover/index.js
  packages/cli/lib/base-generator.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(repository): add capability for insert multiple rows in single query
  packages/repository/src/repositories/legacy-juggler-bridge.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(docs): replace pEvent with once
  docs/site/express-with-lb4-rest-tutorial.md
Due: node packages/build/bin/run-prettier --write

ci: replace old LTS version (v16) with the new one (v18)
  .github/workflows/continuous-integration.yml
  .github/workflows/renovate-config-validator.yml
  appveyor.yml
Due: none

feat(cli): added option to create a http2 server
  packages/cli/generators/app/index.js
  packages/cli/generators/app/templates/src/index.ts.ejs
  packages/cli/generators/project/templates/package.json.ejs
  packages/cli/package.json
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): add support for Binary to handle blob
  packages/cli/generators/model/property-definition.js
  packages/cli/test/unit/discover/import-discovered-model.test.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

test(context): add a test for getter based circular deps
  packages/context/src/__tests__/unit/resolver.unit.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): pass params to mysql connector while lb4 discover
  packages/cli/generators/datasource/index.js
  packages/cli/generators/discover/index.js
  packages/cli/lib/base-generator.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/model.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): pass params to mysql connector while lb4 discover
  packages/cli/generators/discover/index.js
  packages/cli/snapshots/integration/generators/discover.integration.snapshots.js
  packages/cli/snapshots/integration/generators/model.integration.snapshots.js
  packages/cli/test/fixtures/discover/mem.datasource.js.txt
  packages/cli/test/integration/generators/discover.integration.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: use new sessions for lazy resolution with getter/view
  packages/context/src/__tests__/acceptance/class-level-bindings.acceptance.ts
  packages/context/src/__tests__/unit/resolver.unit.ts
  packages/context/src/context-view.ts
  packages/context/src/inject-config.ts
  packages/context/src/inject.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix: fix build errors for TS 4.9.x
  packages/repository-json-schema/src/build-schema.ts
  packages/repository/src/type-resolver.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

fix(cli): made changes so update comamnd updates the peerDependencies as well
  packages/cli/lib/version-helper.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

feat(cli): enum relations in openapispec relation object
  packages/repository-json-schema/src/__tests__/unit/filter-json-schema.unit.ts
  packages/repository-json-schema/src/filter-json-schema.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency prettier to ^2.8.1
  package-lock.json
  package.json
  packages/build/config/tsconfig.common.json
  packages/build/package-lock.json
  packages/build/package.json
Due: none

chore: update dependency eslint-plugin-eslint-plugin to ^5.0.7
  package-lock.json
  package.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

ci: replace old node version (v17) to current version (v19)
  .github/workflows/continuous-integration.yml
Due: none
