Repository loopbackio/loopback-next: changes, and which lint-staged commands are due for each by the changed paths.
All: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

.lintstagedrc:

{
  "*.{js,ts}": [
    "node packages/build/bin/run-prettier --write",
    "node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache"
  ],
  "*.md": "node packages/build/bin/run-prettier --write"
}

chore: update dependency lint-staged to ^12.1.7
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
  package-lock.json
  package.json
  packages/boot/package-lock.json
  packages/rest-crud/package-lock.json
Due: none

chore: update dependency @commitlint/cli to ^16.0.2
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
  package-lock.json
  package.json
  packages/boot/package-lock.json
  packages/repository-json-schema/package-lock.json
Due: none

chore: update dependency @graphql-tools/utils to ^8.6.1
  extensions/authentication-jwt/package-lock.json
  extensions/graphql/package-lock.json
  extensions/graphql/package.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/rest-crud/package-lock.json
Due: none

chore: update dependency winston-transport to ^4.4.2
  extensions/authentication-jwt/package-lock.json
  extensions/logging/package-lock.json
  extensions/logging/package.json
  packages/boot/package-lock.json
  packages/booter-lb3app/package-lock.json
Due: none

chore: correct import syntax
  extensions/logging/src/fluent.ts
  package.json
  packages/boot/src/booters/application-metadata.booter.ts
  packages/core/src/lifecycle-registry.ts
  packages/express/src/__tests__/fixtures/spy.middleware.ts
  packages/rest-crud/src/crud-rest.controller.ts
  packages/rest/src/__tests__/fixtures/middleware/spy.middleware.ts
  packages/testlab/src/client.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency async to ^3.2.3
  acceptance/repository-cloudant/package-lock.json
  acceptance/repository-cloudant/package.json
Due: none

chore: update dependency winston to ^3.3.4
  extensions/logging/package-lock.json
  extensions/logging/package.json
Due: none

chore: update node docker tag to v17
  examples/access-control-migration/Dockerfile
  examples/multi-tenancy/Dockerfile
  examples/rest-crud/Dockerfile
  examples/socketio/Dockerfile
  examples/todo-jwt/Dockerfile
  examples/todo-list/Dockerfile
  examples/todo/Dockerfile
  packages/cli/generators/app/templates/Dockerfile
Due: none

test(logging): metadata is not defined in the format
  extensions/logging/src/__tests__/acceptance/winston.acceptance.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency supertest to ^6.2.0
  bodyparsers/rest-msgpack/package-lock.json
  extensions/apiconnect/package-lock.json
  extensions/authentication-jwt/package-lock.json
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  extensions/context-explorer/package-lock.json
  extensions/cron/package-lock.json
  extensions/graphql/package-lock.json
  extensions/health/package-lock.json
  extensions/logging/package-lock.json
  extensions/metrics/package-lock.json
  extensions/pooling/package-lock.json
  extensions/socketio/package-lock.json
  extensions/typeorm/package-lock.json
  packages/authentication/package-lock.json
  packages/authorization/package-lock.json
  packages/booter-lb3app/package-lock.json
  packages/express/package-lock.json
  packages/model-api-builder/package-lock.json
  packages/openapi-v3/package-lock.json
  packages/repository-json-schema/package-lock.json
  packages/repository-tests/package-lock.json
  packages/repository/package-lock.json
  packages/rest-crud/package-lock.json
  packages/rest-explorer/package-lock.json
  packages/rest/package-lock.json
  packages/security/package-lock.json
  packages/service-proxy/package-lock.json
  packages/testlab/package-lock.json
  packages/testlab/package.json
Due: none

chore: update dependency testcontainers to v8
  acceptance/extension-logging-fluentd/package-lock.json
  acceptance/extension-logging-fluentd/package.json
  bodyparsers/rest-msgpack/package-lock.json
  extensions/authentication-jwt/package-lock.json
Due: none

chore: update dependency qs to ^6.10.3
  extensions/authentication-passport/package-lock.json
  extensions/authentication-passport/package.json
  packages/rest/package-lock.json
  packages/rest/package.json
Due: none

chore: update dependency winston to ^3.4.0
  extensions/logging/package-lock.json
  extensions/logging/package.json
Due: none

fix: invalid glob for nested dirs
  packages/boot/src/__tests__/unit/booters/base-artifact.booter.unit.ts
  packages/boot/src/booters/base-artifact.booter.ts
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency webpack to ^5.66.0
  examples/webpack/package-lock.json
  examples/webpack/package.json
Due: none

chore: fix appveyor badge [skip ci]
  README.md
Due: node packages/build/bin/run-prettier --write

feat(cli): remove import-lb3-models command & lb3-application example
  packages/cli/.yo-rc.json
  packages/cli/generators/example/index.js
  packages/cli/generators/import-lb3-models/index.js
  packages/cli/generators/import-lb3-models/lb3app-loader.js
  packages/cli/generators/import-lb3-models/migrate-model.js
  packages/cli/generators/import-lb3-models/model-names.js
  packages/cli/intl/cs/messages.json
  packages/cli/intl/de/messages.json
  packages/cli/intl/en/messages.json
  packages/cli/intl/es/messages.json
  packages/cli/intl/fr/messages.json
  packages/cli/intl/it/messages.json
  packages/cli/intl/ja/messages.json
  packages/cli/intl/ko/messages.json
  packages/cli/intl/nl/messages.json
  packages/cli/intl/pl/messages.json
  packages/cli/intl/pt/messages.json
  packages/cli/intl/ru/messages.json
  packages/cli/intl/tr/messages.json
  packages/cli/intl/zh-Hans/messages.json
  packages/cli/intl/zh-Hant/messages.json
  packages/cli/lib/cli.js
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/snapshots/integration/cli/cli.integration.snapshots.js
  packages/cli/snapshots/integration/generators/import-lb3-models.integration.snapshots.js
  packages/cli/test/fixtures/import-lb3-models/app-using-model-inheritance.js
  packages/cli/test/integration/generators/import-lb3-models.integration.js
  packages/cli/test/unit/import-lb3-model/migrate-model.test.js
  packages/cli/test/unit/import-lb3-model/model-names.test.js
Due: node packages/build/bin/run-prettier --write, node packages/build/bin/run-eslint --fix --report-unused-disable-directives --cache

chore: update dependency autocannon to ^7.6.0
  benchmark/package-lock.json
  benchmark/package.json
Due: none
